@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --main-font: "Mooli";
  --green-1: #61a479;
  --green-2: #a6ce29;
  --green-3: #ddf088;

  --blue: #04497f;
  --light-gray: #b0c0c5;
  --dark-gray: #244454;
}

body {
  font-family: var(--main-font);
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}

header {
  color: var(--green-2);
  height: 25%;
  padding-left: 4rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

main {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  /* display: none; */
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
}

footer {
  height: 25%;
  margin-top: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--green-2);
}

footer a {
  text-decoration: none;
  color: var(--green-2);
}

#video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* Media queries */

@media screen and (max-width: 650px) {
  footer {
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    justify-content: center;
  }

  footer p,
  a {
    margin: 10px;
  }
}

/* Custom Animations */
